extend layout

block content
  .container(ng-app="playlist", data-framework="firebase")
    section(ng-controller='PlaylistCtrl')
      header
        h1 Playlist
        form(ng-submit='addSong()', role="form")
          input.form-control(placeholder='What do you want to play?', ng-model='newSong', autofocus)
      section(ng-show='totalCount', ng-cloak)
        table.playlist.table.table-striped
          colgroup
            col(width="10%")
            col(width="80%")
            col(width="10%")
          tbody
            tr(
              ng-repeat='(id, song) in songs | orderBy:"id":true',
              ng-class='{editing: song == editedSong}'
            )
              td
                input(type='checkbox', ng-model='song.completed', ng-change='songs.$save(id)')
              td(ng-class='{"text-muted": song.completed}')
                p.form-control-static: label.view(
                  ng-dblclick='editSong(id)',
                  speechrecognition='{tasks: recognition["en-US"].listTasks, reference: song.title}'
                )
                  | {{song.title}}
                form.edit(ng-submit='doneEditing(id)')
                  input.form-control(
                    ng-model='song.title',
                    on-escape='revertEditing(id)',
                    on-blur='doneEditing(id)',
                    on-focus='song == editedSong'
                  )
              td
                | &nbsp;
                -// button.btn.btn-sm.btn-danger(ng-click='removeSong(id)'): &times;
      footer#footer(ng-show='!!totalCount', ng-cloak)
        span#song-count
          strong {{remainingCount}}&nbsp;
          ng-pluralize(count='remainingCount', when='{ one: "song left", other: "songs left" }')
        button.btn.btn-link(type="button", ng-click="clearCompletedSongs()", ng-show="!!completedCount") Clear completed
    footer
      strong Voice commands:
      ul
        li play SONG
        li start music
        li next
        li remove SONG
        li stop music
        li clear completed

