extend layout

block content
  .container(ng-app="playlist", data-framework="firebase")
    section(ng-controller='PlaylistCtrl')
      header
        h1 Playlist
        form(ng-submit='addSong()', role="form")
          input.form-control(placeholder='What do you want to play?', ng-model='newSong', autofocus)
          br
      section(ng-show='totalCount', ng-cloak)
        table.playlist.table.table-striped
          colgroup
            col(width="10%")
            col(width="80%")
            col(width="10%")
          tbody
            tr(
              ng-repeat='(id, song) in songs | orderBy:"id":true',
              ng-class='{editing: song == editedSong}'
            )
              td
                span.text-muted.glyphicon.glyphicon-ok(ng-show='song.completed')
                span(ng-show='id == playing.songId')
                  span.glyphicon.glyphicon-play
                  strong &nbsp;{{playing.progress | duration}}
              td(ng-class='{"text-muted": song.completed}')
                p.form-control-static(ng-show="song != editedSong")
                  label.view(
                    ng-dblclick='editSong(id)',
                    speechrecognition='{tasks: recognition["en-US"].listTasks, reference: song.title}'
                  )
                    | {{song.title}}
                    span(ng-show="!!song.origTitle")
                      br
                      em {{song.origTitle}}

                form(
                  ng-submit='doneEditing(id)',
                  ng-show="song == editedSong",
                )
                  input.form-control.input-sm(
                    ng-model='song.title',
                    on-escape='revertEditing(id)',
                    on-blur='doneEditing(id)',
                    focus-if='song == editedSong'
                  )
              td
                button.btn.btn-xs.btn-danger.btn-delete(
                  ng-click='removeSong(id)',
                  ng-show="!song.completed && id != playing.songId"
                ) &times;
      footer#footer(ng-show='!!totalCount', ng-cloak)
        span#song-count
          strong {{remainingCount}}&nbsp;
          ng-pluralize(count='remainingCount', when='{ one: "song left", other: "songs left" }')
        button.btn.btn-link(type="button", ng-click="clearCompletedSongs()", ng-show="!!completedCount") Clear completed
    footer.well
      strong Voice commands:
      p.commands-list
        span.label.label-default play SONG
        | &nbsp;
        span.label.label-default start music
        | &nbsp;
        span.label.label-default next
        | &nbsp;
        span.label.label-default remove SONG
        | &nbsp;
        span.label.label-default stop music
        | &nbsp;
        span.label.label-default clear completed
